*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */

.header__nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width:576px) {
    .header__nav{
        flex-direction: column;
    }
    
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.header__logo{
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.header__link{
    font-size: 20px;
    color: #fff;
}

.header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightblue;
}

.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

h1{
    font-size: 8vw;
    color: #fff;
}

/* header end */